{% load static %}
<!DOCTYPE HTML>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Название страницы</title>
    <meta name="description" content="Описание страницы" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}"/>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <body>
    <header class="header">
            <div class="header_logo" action="">
                <a>
                    <img src="{% static 'assets/logo.svg'%}" alt="">
                </a>
            </div>
            <div class="header_container">
                <nav class="header_navigation">
                    <a >A000045</a>
                </nav>
                <select class="header__select">
                    <option>Интерпретация 1</option>
                    <option>Интерпретация 2</option>
                    <option>Интерпретация 3</option>
                    <option>Интерпретация 4</option>
                </select>
                <div class="header_search">
                    <form method="get" action="/search">
                        <input method="get" type="text" name="oeis_id">
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>
    </header>
    



    

    <main>
        <div class="main__container_info">
           
            <section class="main__info">
                <div class="main__green-title">
                    ЧИСЛОВАЯ ПОСЛЕДОВАТЕЛЬНОСТЬ
                </div>
                {% block content %}

                    {% for el in news %}
 
                        <div class="main__text-info">  
                            <p>{{el.OEIS_ID}}</p>
                            <p>{{el.special_title}}</p>
                            <p>{{el.number_of_parameters}}</p>
                            <p>$${{el.recurrent_formula_latex}}$$</p>
                            <p>$${{el.explicit_formula_latex}}$$</p>
                            <p>$${{el.generating_function_latex}}$$</p>    
                        </div>

                    {% endfor %}
              
                {% endblock %}
            </section>
        
            <section class="main__interp-info">
                <div class="main__green-title">
                    КОМБИНАТОРНАЯ ИНТЕРПРЕТАЦИЯ
                </div>
                <div class="main__text-interp-info">
 
                        <div class="main__text-info">  
                        </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
      Подвал
    </footer>
  </body>
</html>